<!-- views/partials/footer.ejs -->

<p class="text-center text-muted">© Copyright 2014 The Awesome People</p>

<!-- Bootstrap -->
<script src="/js/jquery-1.10.1.min.js"></script>
<script src="/bootstrap/js/bootstrap.min.js"></script>

<!-- Bootflat's JS files.-->
<script src="/bootflat/js/icheck.min.js"></script>
<script src="/bootflat/js/jquery.fs.selecter.min.js"></script>
<script src="/bootflat/js/jquery.fs.stepper.min.js"></script>